# Distribution / packaging
dist/
build/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Environments
.env
.venv
env/
venv/
ENV/

# Other
.DS_Store 